
<ion-view hide-nav-bar="true">
    <ion-pane>
        <ion-content >

      <ion-slide-box active-slide="myActiveSlide" on-slide-changed="setActive($index)">
         <ion-slide ng-repeat="device in weather.devices"  >

                 <div class="row">
                     <ul class="list-center">
                         <li class="time">{{device.date}}</li>
                         <li class="location">
                             {{device.id}}  {{device.location}}
                         </li>
                     </ul>
                 </div>
                 <div class="row">
                     <div class="floatedContainer">
                         <div class="floated">
                            <img ng-src="{{device.photo}}"/>
                         </div>
                     </div>
                 </div>

                 <div class="row">
                     <ul class="data">
                      <li>Temperature: {{device.temperature}}</li>
                      <li>Humidity: {{device.humidity}}</li>
                      <li>Wind speed: {{device.wind_speed}}</li>
                     </ul>
                 </div>

         </ion-slide>

      </ion-slide-box>

                </ion-content>
            </ion-pane>
</ion-view>