
<ion-view hide-nav-bar="true">
    <ion-pane>
        <ion-content >

            <ion-slide-box active-slide="myActiveSlide" nav-transition="none">
                <ion-slide ng-repeat="device in weather.devices" >
                    <div class="time">
                        {{device.date}}
                    </div>
                    <div class="location">
                        {{device.id}}  {{device.location}}
                    </div>
                    <div class="floatedContainer">
                        <div class="floated">
                            <img ng-src="{{device.photo}}"/>
                        </div>
                    </div>
                    <div class="data">Temperature: {{device.temperature}}</div>
                    <div class="data">Humidity: {{device.humidity}}</div>
                    <div class="data">Wind speed: {{device.wind_speed}}</div>

                </ion-slide>

            </ion-slide-box>

        </ion-content>
    </ion-pane>
</ion-view>