<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="com.ionicframework.visuo653544" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>visuo</name>
  <description>
        An Ionic Framework and Cordova project.
    </description>
  <author email="hi@ionicframework" href="http://ionicframework.com/">
      Ionic Framework Team
    </author>
  <content src="index.html"/>
  <access origin="*"/>
  <preference name="webviewbounce" value="false"/>
  <preference name="UIWebViewBounce" value="false"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="BackupWebStorage" value="none"/>
  <preference name="SplashScreen" value="splash"/>
  <preference name="SplashScreenDelay" value="10000"/>
    <preference name="AutoHideSplashScreen" value="false"/>
    <preference name="auto-hide-splash-screen" value="false"/>

    <preference name="ShowSplashScreenSpinner" value="true" />
    <preference name="show-splash-screen-spinner" value="true" />
    <preference name="FadeSplashScreen" value="true" />
    <preference name="FadeSplashScreenDuration" value="15" />

    <preference name="SplashMaintainAspectRatio" value="true" />
  <feature name="StatusBar">
    <param name="ios-package" value="CDVStatusBar" onload="true"/>
  </feature>
  <platform name="android">
    <icon src="resources/android/icon/vicon_40.png" density="ldpi"/>
    <icon src="resources/android/icon/vicon_60.png" density="mdpi"/>
    <icon src="resources/android/icon/vicon_60.png" density="hdpi"/>
    <icon src="resources/android/icon/vicon_72.png" density="xhdpi"/>
    <icon src="resources/android/icon/vicon_72.png" density="xxhdpi"/>
    <icon src="resources/android/icon/vicon_128.png" density="xxxhdpi"/>
    <splash src="resources/android/splash/loading.png" density="land-ldpi"/>
    <splash src="resources/android/splash/loading.png" density="land-mdpi"/>
    <splash src="resources/android/splash/loading.png" density="land-hdpi"/>
    <splash src="resources/android/splash/loading.png" density="land-xhdpi"/>
    <splash src="resources/android/splash/loading.png" density="land-xxhdpi"/>
    <splash src="resources/android/splash/loading.png" density="land-xxxhdpi"/>
    <splash src="resources/android/splash/loading.png" density="port-ldpi"/>
    <splash src="resources/android/splash/loading.png" density="port-mdpi"/>
    <splash src="resources/android/splash/loading.png" density="port-hdpi"/>
    <splash src="resources/android/splash/loading.png" density="port-xhdpi"/>
    <splash src="resources/android/splash/loading.png" density="port-xxhdpi"/>
    <splash src="resources/android/splash/loading.png" density="port-xxxhdpi"/>
  </platform>
</widget>