/* Empty. Add your own CSS if you like */

body{
     background-color: black;
     height:100%
     width:100%;
     margin:0;
     background-size: cover;
}

.trans_header{
      background: none!important;
      border-style: solid;
    //  border-top:thin solid #7a7a7a;
      border-top:none;
      border-bottom: none;
      border-left: none;
      border-right: none;
}

.menu, .list,.item, .item-content       {
    background-color: transparent!important;
    border-color: #545454;
    box-shadow:0px -1px 3px #545454,0px -1px 10px #545454,0px -1px 20px #545454;
    border-top:none;
    color: white;
    height: 100%;
}


.pane{
   background-color: black!important;
}
.menu-content{
   box-shadow:4px 10px 20px #545454;
}


#middle_container{
  height:60%;
  line-height:60%;
  overflow:hidden;
  text-align:center;
  width:100%;
}
img {
  margin-left:-22.5%!important;
  max-width: 145%;
  height: auto;
}


#top_container{
 //  height:16%;
 //  padding: 8vh 0 0 0; //padding header
  // padding-top: 52px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 11%;
   width:80%;
}

#down_container{
   height:22%;
 //  padding: 0 0 8vh 0; //padding header
    width:80%;
    margin-left: auto;
    margin-right: auto;
}

.data{
  text-align:center;
  color: white;
  font-size:4.6vw;
  font-size:0.9rem;
  height:22%;

}

.spinner svg{
  width:2rem;
  height:2rem;
  stroke:rgb(209, 240, 255);
//  stroke: #C2EBFF;
}

.ion-arrow-down-c{
  color:rgb(163, 182, 191)!important;
}

.title{
   font-family: 'Josefin Sans', sans-serif;
   font-variant:small-caps;
   font-size: 4.7rem;
   width:100%;
   text-shadow: 0 0 3px #fff, 0 0 5px #fff, 0 0 7px #fff, 0 0 10px #66CCFF, 0 0 14px #66CCFF, 0 0 17px #66CCFF, 0 0 20px #66CCFF, 0 0 22px #66CCFF;
   margin:60% auto 15% auto;
   color: white;
}


.loading{
   background-color:rgba(0,0,0,0.65)!important;
   position: absolute !important;
   top:0 !important;
   bottom: 0 !important;
   left: 0 !important;
   right: 0 !important;

}

.slider-pager-page
{
    color: #E0E0E0 !important;
    font-size:0.6rem;
}
.slider-pager-page.active
{
    color: #E0E0E0 !important;
    font-size:0.6rem;
}

.list-center{
       text-align: center;
       position: relative;
       top: 50%;
       transform: translateY(-50%);
       color: white;
}


.location{
       font-size: 4vw;
       line-height:3vh;
              font-size: 0.85rem;
              line-height:1rem;
       padding: 0 ;
}

.time{
       font-size: 7.5vw;
       line-height:6vh;
            font-size: 1.5rem;
              line-height:2rem;
}

